
  <div class="section">

       <p><%= @section.name %></p>
      
       <p> <%= image_tag @section.image.url(:medium) %> </p>
      

      <p id="content1"><%= @section.content %></p>
      
          
<div>

             <% @section.comments.each do |c| %>
              
               <div>
                   <%= c.content %>
                   <p> Commented by : <%= c.name %> </p>
                       at  <%= c.created_at %>  
               
                </div>
              <% end %>
            
        
 
         </div>
       
<div class ="comment-form">
  
 

  <h2> Please write your comment </h2>
  

    <%= render 'form' %>

  
</div>
